{% extends "layout.html" %}
{% block title %} calculation {% endblock %}

{% block content %}
<form method="POST" onsubmit="cal(); return false">
  <input type="radio" name="mode" id="plus" value="0" {{modes[0]}}>たし算
  <input type="radio" name="mode" id="minus" value="1" {{modes[1]}}>ひき算
  <input type="radio" name="mode" id="mlt_by" value="2" {{modes[2]}}>かけ算
  <input type="radio" name="mode" id="div_by" value="3" {{modes[3]}}>わり算
  <br>
  
  <label>a：</label>
  <input
    type="number"
    name="var_a"
    min="-30"
    max="30"
    step="1"
    value={{var_a}}
  >

  <label>b：</label>
  <input
    type="number"
    name="var_b"
    min="-30"
    max="30"
    step="1" 
    value={{var_b}}
  >
  
  <button type="submit" hidden>変更</button>
</form>

<p>answer</p>
<p>{{ans}}</p>

<p><a href="/">メニューに戻る</a></p>

{% endblock %}